/* ====== Global Reset ====== */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    background-color: #fff;
  }
  
  /* ====== Typography ====== */
  h1 {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 500;
    font-size: 4rem;
  }
  
  h2, h3, p, a, li, button, span {
    font-family: "Roboto", sans-serif;
  }
  
  /* ====== Header ====== */
  .header {
    position: relative;
    width: 100%;
    height: 300px;
    color: #fff;
    text-align: center;
    overflow: hidden;
  }
  
  .header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(2px);
    top: 0;
    left: 0;
  }
  
  .header-text {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
    color: #000;
    padding: 0 1rem;
    font-family: "Rubik Glitch", system-ui;
  }
  
  /* ====== Navigation ====== */
  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  ul {
    display: flex;
    position: absolute;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  li a:hover {
    color: red;
    transition: all 0.3s ease-in-out;
  }
  
  /* ====== Bio Section ====== */
  .bio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #000;
    height: 100vh;
  }
  
  .bio-words {
    padding: 2rem;
    width: 40%;
  }
  
  .bio-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .bio-header h2 {
    font-family: "Lacquer", sans-serif;
    font-size: 3.75rem;
    color: red;
    margin-left: 4rem;
  }
  
  .bio-header h3 {
    font-family: "Lacquer", sans-serif;
    font-size: 2.5rem;
    color: red;
  }
  
  .bio-words p {
    font-size: 1rem;
    color: white;
  }
  
  /* ====== Discography Section ====== */
  .discography-section h2 {
    font-family: "Lacquer", sans-serif;
    font-size: 3.75rem;
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .discography-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    margin-top: 3.5rem;
  }
  
  .album {
    background-color: #fff;
    border: 1px solid #b3adad;
    padding: 1.5rem;
    border-radius: 12px;
    flex: 1 1 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .album img {
    width: 250px;
    height: 250px;
  }
  
  .album a {
    text-decoration: none;
    color: #000;
    display: block;
  }
  
  .album a:hover {
    transform: scale(1.08);
    transition: 0.3s ease-in-out;
  }
  
  .album h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .album p {
    font-size: 0.8rem;
  }
  
  /* ====== Discussion Section ====== */
  
  .discussion-header {
    background-color: #000;
    height: 100vh;
  }
  
  .discussion-section h2 {
    font-family: "Lacquer", sans-serif;
    font-size: 4rem;
    color: red;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #000;
  }
  
  .discussion-section h3 {
    font-family: "Lacquer", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #000;
    color: white;
  }
  
  .discussion-comments {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  #comments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
  }
  
  .comment {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: grid;
  }
  
  .comment-author {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .comment-text {
    font-size: 1rem;
  }
  
  /* ====== Load More Button ====== */
  .discussion-section button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    width: 300px;
    margin: 30px auto 50px;
    display: block;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* ====== Footer ====== */
  .footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 75px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
